* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans", serif;
}

input,
textarea {
    border: none;
    outline: none;
    font-family: "Noto Sans", serif;
}
