:root {
    --primary-color: #3d85c6;
    --secondary-color: #eee6e2;
    --gray-default-color: #f3f6f4;
    --gray-hover-color: #dadddb;
    --gray-pressed-color: #c4c6c5;
    --gray-light-color: #fbfcfb;
    --red-default-color: #e52b50;
    --red-hover-color: #ce2648;
    --red-pressed-color: #b72240;
    --primary-hover-color: #3677b2;
    --primary-pressed-color: #306a9e;
}
